body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: auto;
    padding: 0;
}

.container{
    max-width: 600px;
    margin: 200px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button :hover{
    background-color: #007bff;
}

#joke-container {
    margin-top: 0px;
}

